<!-- <header>
  <app-slider></app-slider>

</header> -->
<header class="masthead" style="background-image: url('https://i.imgur.com/z7eKvLI.gif');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Man must explore, and this is exploration at its greatest</h1>
          <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
          <span class="meta">Posted by
            <a href="#">Start Bootstrap</a>
            on August 24, 2019</span>
        </div>
      </div>
    </div>
  </div>
</header>


  <div class="container">

    <h2 class="section-heading text-uppercase">Motorcycle Gallery</h2>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

      <div class="col-lg-3 col-md-4 col-6" *ngFor="let product of products">

        <div class="d-block mb-4 h-100">
          <img style="width: 400px; height: 185px;" class="img-fluid img-thumbnail" [src]="product.img" alt="">
        </div>

      </div>
    </div>

  </div>
  <hr>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-lg-6">
        <h2>Modern Business Features</h2>
        <p>The Modern Business template by Start Bootstrap includes:</p>
        <ul>
          <li>
            <strong>Bootstrap v4</strong>
          </li>
          <li>jQuery</li>
          <li>Font Awesome</li>
          <li>Working contact form with validation</li>
          <li>Unstyled page elements for easy customization</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit,
          quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="https://dcassetcdn.com/design_img/2346589/478440/478440_12255648_2346589_0ff59d26_image.jpg"
          alt="">
      </div>
    </div>
    <!-- /.row -->
    
    <hr>
    
    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti
          beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary d-block w-100 btn-lg" href="motocyles/contact">Call to Action</a>
      </div>
    </div>
    </div>