.insertSectionIntroTextWhite { 
    font-family: 'Univers LT W01_57 Condensed'; 
    font-size: 1.25em; 
    line-height: 1.5em; 
    color: #fff;
     text-decoration: none;
      margin: 0px 30px 20px 30px; text-align: center; }